html,body, #header{
    width: 100%;
}

#logo{
    width: 20%;
}

.navbar{
    z-index: 99;
}



#infoBulle h4{

}
#map-canvas {
    height: 100px;
}
.noMarginPadding{
    margin: 0px !important;
    padding: 0px !important;
}

